{
    "parser": "babel-eslint",
    "extends": ["airbnb", "prettier", "prettier/react"],
    "env": { "browser": true },
    "rules": {
        "prefer-destructuring": [0],
        "react/forbid-prop-types": [0],
        "default-case": [0]
    }
}
